<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/courseList.css" />
    <title>Available Courses</title>
  </head>
  <body>
    <header>
      <h1>Available Courses</h1>
    </header>
    <main>
      <section class="course-list">
        <article class="course-item">
          <h2>Calculus I</h2>
          <p>Instructor: John Doe</p>
          <p>Duration: 10 weeks</p>
          <p>
            Description: An introduction to the fundamentals of Course Title
            1...
          </p>
          <ul class="units">
            <li>
              <a href="/chapter1">Unit 1: Chapter 1: Number and Functions</a>
            </li>
            <li><a href="/limitLaws">Unit 2: Limit Laws</a></li>
            <li><a href="#unit1-3">Unit 3: Advanced Topics</a></li>
          </ul>
        </article>
        <article class="course-item">
          <h2>Programming 2</h2>
          <p>Instructor: Jane Smith</p>
          <p>Duration: 8 weeks</p>
          <p>Description: This course covers the basics of Course Title 2...</p>
          <ul class="units">
            <li><a href="#unit2.html">Unit 1: Getting Started</a></li>
            <li><a href="#unit2-2">Unit 2: Intermediate Concepts</a></li>
            <li><a href="#unit2-3">Unit 3: Practical Applications</a></li>
          </ul>
        </article>
        <article class="course-item">
          <h2>Course Title 3</h2>
          <p>Instructor: Emily Johnson</p>
          <p>Duration: 12 weeks</p>
          <p>Description: Learn advanced concepts in Course Title 3...</p>
          <ul class="units">
            <li><a href="#unit3-1">Unit 1: Overview</a></li>
            <li><a href="#unit3-2">Unit 2: In-Depth Study</a></li>
            <li><a href="#unit3-3">Unit 3: Expert Techniques</a></li>
          </ul>
        </article>
        <!-- Add more course items as needed -->
      </section>
    </main>
    <footer>
      <p>&copy; 2024 AI Solver. All rights reserved.</p>
    </footer>
  </body>
</html>
